<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKzCzKX6g4Q3-9z4Mie9ZE_lavx8HHoAQ"></script>

<div class="container">
    <div class="row">
        <div class="card mb-3 col-md-12" >
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="<?=IMG.$data['descarte']->img?>" class="card-img" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <h5 class="card-title"><?=$data['descarte']->categoria->nome?> - <?=$data['descarte']->material?></h5>
                                <p class="card-text"><?=$data['descarte']->descricao?></p>
                                <p class="card-text"><small class="text-muted">Publicado: <?=date("d/m/Y", strtotime($data['descarte']->data))?></small></p>
                            </div>
                            <div class="col-md-6">
                                <h5 class="card-title"><?=$data['descarte']->user->nome?></h5>
                                <p class="card-text">Cidade: <?=$data['descarte']->endereco->cidade?></p>
                                <p class="card-text">Telefone: <?=$data['descarte']->user->contato->telefone?></p>
                                <p class="card-text">E-mail: <?=$data['descarte']->user->contato->email?></p>
                            </div>
                        </div>
                        <div class="row"><br><br>
                            <div class="col-md-12">
                                <div id="map_canvas" style="width:100%; height: 600px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var mapOptions = {
        center: new google.maps.LatLng(<?=$data['descarte']->user->enderecos[0]->lat?>, <?=$data['descarte']->user->enderecos[0]->lng?>),
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);
    var locations = [
        ['Meu Local', <?=$data['descarte']->user->enderecos[0]->lat?>, <?=$data['descarte']->user->enderecos[0]->lng?>]
    ];

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            title: locations[i][0],
            map: map
        });
    }
</script>