<br> <br>
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.date').mask('00/00/0000');
        $('.time').mask('00:00:00');
        $('.date_time').mask('00/00/0000 00:00:00');
        $('.cep').mask('00000-000');
        $('.phone').mask('(00) 00000-0000');
        $('.phone_with_ddd').mask('(00) 0000-0000');
        $('.phone_us').mask('(000) 000-0000');
        $('.mixed').mask('AAA 000-S0S');
        $('.cpf').mask('000.000.000-00', {reverse: true});
        $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
        $('.cpf').focus();
        bootstrapValidate('#cpf', 'regex:[0-9]{3}\\.?[0-9]{3}\\.?[0-9]{3}\\-?[0-9]{2}:Digite seu cpf corretamente!')
        bootstrapValidate('#dataNas', 'regex:^([0-2][0-9]|(3)[0-1])(\\/)(((0)[0-9])|((1)[0-2]))(\\/)\\d{4}$:Digite sua data de nascimento corretamente!')
        bootstrapValidate('#email', 'email: E-mail invalido')
    });

    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            /*document.getElementById('rua').value=("");
            document.getElementById('bairro').value=("");
            document.getElementById('cidade').value=("");
            document.getElementById('uf').value=("");
            document.getElementById('ibge').value=("");*/
        }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            $("#cepCidade").val(conteudo.localidade);
            $("#cep").addClass('is-valid');
            $("#cep").removeClass('is-valid');
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            $("#cep").addClass('is-invalid');
        }
    }

    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                //document.getElementById('rua').value="...";
                //document.getElementById('bairro').value="...";
                //document.getElementById('cidade').value="...";
                //document.getElementById('uf').value="...";
                //document.getElementById('ibge').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                $("#cep").addClass('is-invalid');
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    }

</script>

<section id="descarte" class="descarte gray-bg page-section-ptb">
    <div class="container">
        <div class="row justify-content">
            <div class="col-md-12">
                <div class="contact-3-info page-section-ptb">
                    <div class="clearfix">
                        <div class="section-title mb-0">
                            <h6>Tem algo que não utiliza masi? que tal</h6>
                            <h2 class="title-effect">Descartar</h2>
                        </div>
                        <p class="mb-50">Temos diversos coletores interessados nas seguinte categorias, entretanto se seu produto não estiver entra as categoria infelizmente não temos coletores para seu produto. Volte outro dia!</p>
                        <form class="needs-validation" role="form" method="post" action="<?=SITE?>descarte/cadastrar" enctype="multipart/form-data">
                            <div class="form-row" style="background-color: rgba(0,0,0,.1);padding: 5px">

                                    <div class="section-field col-md-6">
                                        <label><i style="color: red">*</i> Digite seu nome</label>
                                        <input id="name" required type="text" placeholder="Name*" class="form-control"  name="nome" value="<?php if(isset($data['preCadastro']['nome'])){ echo $data['preCadastro']['nome'];  } ?>">
                                    </div>
                                    <div class="section-field col-md-6">
                                        <label><i style="color: red">*</i> Digite seu E-mail</label>
                                        <input id="email" type="email" required placeholder="Email*" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" name="email" value="<?php if(isset($data['preCadastro']['email'])){ echo $data['preCadastro']['email'];  } ?>">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="section-field col-md-6">
                                        <label><i style="color: red">*</i> Digite seu Telefone</label>
                                        <input type="text" required placeholder="Telefone*" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" title="Digite o telefone no formato (00) 00000-0000" class="form-control phone" name="telefone" value="<?php if(isset($data['preCadastro']['telefone'])){ echo $data['preCadastro']['telefone'];  } ?>">
                                    </div>
                                    <div class="section-field col-md-6">
                                        <label><i style="color: red">*</i> Digite seu CPF</label>
                                        <input type="text" required id="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="Digite o CPF no formato 000.000.000-00" placeholder="CPF*" class="form-control cpf" name="cpf" value="<?php if(isset($data['preCadastro']['cpf'])){ echo $data['preCadastro']['cpf'];  } ?>">
                                    </div>
                                    <div class="section-field col-md-6">
                                        <label><i style="color: red">*</i> Digite sua data de nascimento</label>
                                        <input id="dataNas" type="text" data-mask="00/00/0000" required placeholder="Data de nscimento*" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" title="Digite o data no formato 00/00/0000" class="form-control date" name="data_nascimento" value="<?php if(isset($data['preCadastro']['data_nascimento'])){ echo $data['preCadastro']['data_nascimento'];  } ?>">
                                    </div>
                                    <div class="section-field col-md-6">
                                        <label for="exampleFormControlSelect2"><i style="color: red">*</i> Digite seu CEP</label>
                                        <input id="cep" type="text" required placeholder="CEP" onblur="pesquisacep(this.value);" class="form-control" name="cep" value="<?php if(isset($data['preCadastro']['CEP'])){ echo $data['preCadastro']['CEP'];  } ?>" >
                                        <div class="invalid-feedback">
                                            CEP Invalido.
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label id="cidade">Sua cidade <input type="text" name="cidade" class="form-control" readonly="readonly" id="cepCidade"></label>
                                    </div>
                            </div>
                            <div class="contact-form clearfix">
                                <h6 class="mb-50">Informações descarte:</h6>
                                <div class="section-field">
                                    <label for="exampleFormControlSelect2"><i style="color: red">*</i> Escolha uma categoria</label>
                                    <select multiple required class="form-control" name="categoria">
                                        <?php foreach($data['categoria'] as $val){ ?>
                                            <option value="<?=$val->id?>" <?php if(isset($data['preCadastro']) && $data['preCadastro']['categoria'] == $val->id ){ echo 'Selected';  } ?>><?=$val->nome?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="section-field">
                                    <label><i style="color: red">*</i> Digite o material</label>
                                    <input type="text" required placeholder="Material" class="form-control" name="material" value="<?php if(isset($data['preCadastro']['material'])){ echo $data['preCadastro']['material'];  } ?>">
                                </div>
                                <div class="section-field">
                                    <label><i style="color: red">*</i> Descreva seu produto</label>
                                    <textarea rows="3" required name="descricao" class="form-control"><?php if(isset($data['preCadastro']['descricao'])){ echo $data['preCadastro']['descricao'];  } ?></textarea>
                                </div>
                                <div class="section-field">
                                    <label><i style="color: red">*</i> Anexe uma imagem</label>
                                    <input type="file" required accept="image/*" class="form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="img">
                                </div>

                            </div>
                            <div class="section-field">
                                <button name="submit" type="submit" value="Send" class="btn btn-primary"><span> Enviar </span> <i class="fa fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
