<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">Alterar suas categoria</h5>
                        <div class="card-body">
                    <form action="<?=SITE?>coletor/categorias" method="post" class="col-md-12">
                    <?php foreach ($data['categorias'] as $val){ ?>
                        <div class="custom-control custom-checkbox bg-light col-md-12" style="padding: 5px">
                            <input type="checkbox" class="custom-control-input" name="<?=$val->id?>" value="true" id="<?=$val->id?>" <?=Categoria::verifica($val->id)?'checked':'aa';?>>
                            <label class="custom-control-label" for="<?=$val->id?>"><b><?=$val->nome?></b></label>
                        </div>
                    <?php } ?>
                        <button type="submit" class="btn btn-primary my-1">Salvar</button>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">Cadastrar nova categoria.</h5>
                        <div class="card-body">
                            <p class="lead">Ao cadastrar nova categoria a mesma sera disponibilizada imediatamente para todos os usuários do sistema! analise bem antes de inserir.</p>
                            <form class="col-md-12" action="<?=SITE?>coletor/categorias" method="post">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Categoria</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="categoria" required class="form-control" id="inputEmail3" placeholder="Categoria">
                                    </div>
                                </div>
                                <button type="submit" name="type" value="cadcategoria" class="btn btn-primary my-1">Cadastrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>