<form method="post" action="<?=SITE?>descarte/alterar/<?=$data['preCadastro']['id']?>" enctype="multipart/form-data">
    <div class="contact-form clearfix">
        <h3 class="mb-50">Informações descarte:</h3>
        <div class="section-field">
            <label for="exampleFormControlSelect2">Escolha uma categoria</label>
            <select multiple class="form-control" name="categoria">
                <?php foreach($data['categoria'] as $val){ ?>
                    <option value="<?=$val->id?>" <?php if(isset($data['preCadastro']) && $data['preCadastro']['categoria'] == $val->id ){ echo 'Selected';  } ?>><?=$val->nome?></option>
                <?php } ?>
            </select>
        </div>
        <div class="section-field">
            <label>Material</label>
            <input type="text" placeholder="Material" class="form-control" name="material" value="<?php if(isset($data['preCadastro']['material'])){ echo $data['preCadastro']['material'];  } ?>">
        </div>
        <div class="section-field">
            <label>Descrição</label>
            <textarea rows="3" name="descricao" class="form-control"><?php if(isset($data['preCadastro']['descricao'])){ echo $data['preCadastro']['descricao'];  } ?></textarea>
        </div>
        <div class="section-field">
            <input type="file" class="form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="img">
        </div>

    </div>
    <div class="section-field">
        <button name="submit" type="submit" value="Send" class="btn btn-primary"><span> Enviar </span> <i class="fa fa-paper-plane"></i></button>
    </div>
</form>