<br><br>
<div class="cpy-right py-3">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <p class="copy-w3layouts">T.I. VERDE v<?=VERSION;?> <?=date("Y");?> &copy; - Todos os direitos reservados</p>
            </div>
            <div class="col-md-4 footer-grid_section">
                <ul class="top-right-info">

                    <li class="mr-1">
                        <a href="#">
                            <span class="fa fa-facebook-f"></span></a>
                    </li>
                    <li class="mx-1">
                        <a href="#">
                            <span class="fa fa-instagram"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
