		</div>
	</div>
<div class="container-fluid">
    <div class="row">
        <div class="card text-center col-md-12">
            <div class="card-body">
                <p class="card-text">T.I. Verde v<?=VERSION;?> <?=date("Y");?> &copy; - Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>