<br> <br>
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKzCzKX6g4Q3-9z4Mie9ZE_lavx8HHoAQ"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.date').mask('00/00/0000');
        $('.time').mask('00:00:00');
        $('.date_time').mask('00/00/0000 00:00:00');
        $('.cep').mask('00000-000');
        $('.phone').mask('(00) 00000-0000');
        $('.phone_with_ddd').mask('(00) 0000-0000');
        $('.phone_us').mask('(000) 000-0000');
        $('.mixed').mask('AAA 000-S0S');
        $('.cpf').mask('000.000.000-00', {reverse: true});
        $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
        $('.cpf').focus();
        bootstrapValidate('#cpf', 'regex:[0-9]{3}\\.?[0-9]{3}\\.?[0-9]{3}\\-?[0-9]{2}:Digite seu cpf corretamente!')
        bootstrapValidate('#dataNas', 'regex:^([0-2][0-9]|(3)[0-1])(\\/)(((0)[0-9])|((1)[0-2]))(\\/)\\d{4}$:Digite sua data de nascimento corretamente!')
        bootstrapValidate('#email', 'email: E-mail invalido')
    });
    function removerAcentos( newStringComAcento ) {
        var string = newStringComAcento;
        var mapaAcentosHex 	= {
            a : /[\xE0-\xE6]/g,
            e : /[\xE8-\xEB]/g,
            i : /[\xEC-\xEF]/g,
            o : /[\xF2-\xF6]/g,
            u : /[\xF9-\xFC]/g,
            c : /\xE7/g,
            n : /\xF1/g
        };

        for ( var letra in mapaAcentosHex ) {
            var expressaoRegular = mapaAcentosHex[letra];
            string = string.replace( expressaoRegular, letra );
        }
        string = string.replace(" ", "");
        return string;
    }
    function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        /*document.getElementById('rua').value=("");
        document.getElementById('bairro').value=("");
        document.getElementById('cidade').value=("");
        document.getElementById('uf').value=("");
        document.getElementById('ibge').value=("");*/
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            if(conteudo.uf == "TO"){
                uf = "tocantins";
            }
            $("#cepCidade").val(conteudo.localidade);
            $("#cep").addClass('is-valid');
            $("#cep").removeClass('is-invalid');
            $.ajax({
                type: "post",
                data: "usuario = guida",
                dataType: "html",
                url: "<?=SITE?>ajax/latitude/"+removerAcentos(conteudo.localidade+","+uf+','+conteudo.bairro),
                success: function(result){
                    latitude  = (result);
                    //alert(conteudo.localidade+","+uf+','+conteudo.bairro)
                }});
            $.ajax({
                type: "post",
                data: "usuario = guida",
                dataType: "html",
                url: "<?=SITE?>ajax/longitude/"+removerAcentos(conteudo.localidade+","+uf+','+conteudo.bairro),
                success: function(result){
                    longitude  = (result);
                }});
            //alert(conteudo.cep+conteudo.localidade)
            //alert(latitude)
            if( typeof latitude === "undefined" && typeof longitude === "undefined" ) {
                //alert("erro");
                $("#cep").focus();
            }else{
                //alert('ddddd')
                $("#lat").val(latitude);
                $("#lng").val(longitude);
            }
            var mapOptions = {
                center: new google.maps.LatLng(latitude, longitude),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
                mapOptions);
            var locations = [
                ['Meu Local', latitude, longitude]
            ];

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    title: locations[i][0],
                    map: map
                });
            }
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            $("#cep").addClass('is-invalid');
        }
    }

    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                //document.getElementById('rua').value="...";
                //document.getElementById('bairro').value="...";
                //document.getElementById('cidade').value="...";
                //document.getElementById('uf').value="...";
                //document.getElementById('ibge').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                $("#cep").addClass('is-invalid');
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    }

</script>
<div class="container">
    <div class="row">
        <form class="col-md-12" role="form" method="post" action="<?=SITE?>usuarios/editar/<?=Auth::userActive()->id?>" enctype="multipart/form-data">
            <div class="form-row col-md-12" style="background-color: rgba(0,0,0,.1)">
                <h4 class="col-md-12">Dados Pessoais:</h4>
                <div class="form-group col-md-6">
                    <label>Digite seu nome</label>
                    <input id="name" type="text" placeholder="Name*" class="form-control"  name="nome" value="<?php if(isset($data['preCadastro']['nome'])){ echo $data['preCadastro']['nome'];  } ?>">
                </div>
                <div class="form-group col-md-6">
                    <label>Digite seu E-mail</label>
                    <input type="email" placeholder="Email*" class="form-control" name="email" value="<?php if(isset($data['preCadastro']['email'])){ echo $data['preCadastro']['email'];  } ?>">
                </div>
                <div class="form-group col-md-6">
                    <label>Digite seu Telefone</label>
                    <input type="text" placeholder="Telefone*" class="form-control phone" name="telefone" value="<?php if(isset($data['preCadastro']['telefone'])){ echo $data['preCadastro']['telefone'];  } ?>">
                </div>
                <div class="form-group col-md-6">
                    <label>Digite sua data de nascimento</label>
                    <input type="text" placeholder="Data de nscimento*" class="form-control date" name="data_nascimento" value="<?php if(isset($data['preCadastro']['data_nascimento'])){ echo $data['preCadastro']['data_nascimento'];  } ?>">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect2"><i style="color: red">*</i> Digite seu CEP</label>
                    <input id="cep" type="text" required placeholder="CEP" onblur="pesquisacep(this.value);" class="form-control" name="cep" value="<?php if(isset($data['preCadastro']['CEP'])){ echo $data['preCadastro']['CEP'];  } ?>" >
                    <div class="invalid-feedback">
                        CEP Invalido.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label id="cidade">Sua cidade </label>
                    <input type="text" name="cidade" class="form-control" readonly="readonly" id="cepCidade" value="<?php if(isset($data['preCadastro']['cidade'])){ echo $data['preCadastro']['cidade'];  } ?>"></label>
                </div>
                <div class="form-group col-md-6">
                    <label id="cidade">Latitude </label>
                    <input type="text" name="lat" class="form-control" readonly="readonly" id="lat" value="<?php if(isset($data['preCadastro']['lat'])){ echo $data['preCadastro']['lat'];  } ?>"></label>
                </div>
                <div class="form-group col-md-6">
                    <label id="cidade">Longitude </label>
                    <input type="text" name="lng" class="form-control" readonly="readonly" id="lng" value="<?php if(isset($data['preCadastro']['lng'])){ echo $data['preCadastro']['lng'];  } ?>"></label>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-6 contact-form clearfix">
                    <h4 class="col-md-12">Dados do seu endereço:</h4>

                    <div class="form-group col-md-12">
                        <label>Digite sua bairro</label>
                        <input type="text" placeholder="Bairro" class="form-control" name="bairro" value="<?php if(isset($data['preCadastro']['bairro'])){ echo $data['preCadastro']['bairro'];  } ?>">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Digite sua rua/Av</label>
                        <input type="text" placeholder="Rua/Av" class="form-control" name="rua" value="<?php if(isset($data['preCadastro']['rua'])){ echo $data['preCadastro']['rua'];  } ?>">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Digite o numero</label>
                        <input type="text" placeholder="Numero da residencia" class="form-control" name="numero" value="<?php if(isset($data['preCadastro']['numero'])){ echo $data['preCadastro']['numero'];  } ?>">
                    </div>
                    <div class="form-group col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="principal" value="true" <?php if(isset($data['preCadastro']['principal']) && $data['preCadastro']['principal']){ echo 'checked';  } ?>> Esse endereço é seu ponto de coleta?
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-5">
                        <button name="send" type="submit" value="send" class="btn btn-primary"><span> Enviar </span> <i class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="map_canvas" style="width:100%; height: 600px"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var mapOptions = {
        center: new google.maps.LatLng(<?=$data['preCadastro']['lat']?>, <?=$data['preCadastro']['lng']?>),
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);
    var locations = [
        ['Meu Local', <?=$data['preCadastro']['lat']?>, <?=$data['preCadastro']['lng']?>]
    ];

    for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            title: locations[i][0],
            map: map
        });
    }
</script>