<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Bruno C. Santos">
	<meta name="generator" content="HXPHP Framework v1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><?=$view_title;?></title>
	<link rel="shortcut icon" href="<?=IMG;?>favicon.ico" type="image/x-icon">
	<?=$add_css;?>
	<link rel="stylesheet" href="<?=CSS;?>bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="<?=CSS;?>font-awesome.min.css" type="text/css">
	<!--<link rel="stylesheet" href="<?=CSS;?>style.css" type="text/css">-->
	<script type="text/javascript" src="<?=JS?>jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="<?=JS;?>bootstrap.min.js"></script>
	<?=$add_js;?>
	<script type="text/javascript" src="<?=JS;?>main.js"></script>
    <script type="text/javascript" src="<?=JS;?>jquery.mask.min.js"></script>
</head>
<body>
	<div class="full bg" id="header">
		<div class="container">
			<div class="col-md-12 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
				<a href="<?=SITE;?>" class="logo col-md-offset-4 col-md-4">
					<div style="text-align: center" class="col-md-10 col-md-offset-1">
						<img style="max-height: 200px" class="img-responsive" src="<?=IMG;?>hxphp-logo.png" alt="">
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="<?=SITE?>home">Inicio</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <?=$view_menu;?>
                            <?php if(Auth::userActive()->role == 'descartante'){ ?>
                            <li class="nav-item">
                                <a class="nav-link" href="<?=SITE?>usuarios/sejacoletor">Seja um coletor!</a>
                            </li>
                            <?php } ?>
                        </ul>
                        <ul class="form-inline my-2 my-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <?=strstr($view_user->nome,' ',true);?>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="<?=SITE;?>usuarios/editar/<?=$view_user->id;?>">Editar perfil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="<?=SITE;?>login/sair/">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
		<!--<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">

					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Menu</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					  </button>
					  
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav nav-pills">
					    <?=$view_menu;?>
					  </ul>
					  <ul class="nav navbar-nav navbar-right">
					    <li class="dropdown">
					      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <?=$view_user->nome;?> <b class="caret"></b></a>
					      <ul class="dropdown-menu">
					        <li><a href="<?=SITE;?>usuarios/editar/<?=$view_user->id;?>">Editar perfil</a></li>
					        <li class="divider"></li>
					        <li><a href="<?=SITE;?>login/sair/">Sair</a></li>
					      </ul>
					    </li>
					  </ul>
					</div>
				</div>
			</nav>
		</div>-->
	</div>

	<?=$view_message;?>

	<div class="container">
			<div class="col-md-12">