<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- Custom-Files -->
    <link rel="stylesheet" href="<?=CSS?>bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="<?=CSS?>style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="<?=CSS?>font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- //Fonts -->
    <script type="text/javascript" src="<?=JS;?>jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="<?=JS;?>jquery.mask.min.js"></script>


</head>

<body>
<!-- header -->
<header class="header">
    <div class="container">
        <!-- nav -->
        <nav class="py-3">
            <div id="logo">
                
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-2">
                <li class="active"><a href="<?=SITE?>Login">Login</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>


        </nav>
        <!-- //nav -->
    </div>

</header>
<!-- mian-content -->
<div class="main-content" id="home" STYLE="background: url(<?=IMG?>banner.jpg) no-repeat center;    margin-top: -81px;">


    <!-- banner -->
    <section class="banner">
        <div class="container">
            <div class="row banner-grids">
                <div class="col-lg-6 banner-info-w3ls" style="margin-top: -50px;">
                    <img style="max-height: 250px" src="<?=IMG?>hxphp-logo.png" alt="Logo T.I Verde">
                    <p class="mb-4">------------INTUITO DO PROJETO--------</p>
                </div>

            </div>
        </div>
    </section>
    <!-- //banner -->
</div>
<!-- //header -->

<?=$view_message;?>