<div class="container">
	<?php if(Auth::userActive()->role == 'descartante') { ?>
        <h3>Seus produtos para descarte!</h3>
        <h4><a href="<?=SITE?>descarte/criar">Clique aqui</a> para cadastrar um novo descarte.</h4>
        <?php  foreach ($data['meusdescartes'] as $val){  ?>
            <div class="row" style="margin-top: 10px">
                <div class="media col-md-12 shadow  <?php if($val->status == 1){ echo 'bg-light';}elseif($val->status == 2){ echo 'bg-danger';}else{} ?>">
                    <img src="<?=IMG.$val->img?>" class="mr-3 rounded float-left" style="max-width: 75px; padding: 5px;" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0"><?=$val->categoria->nome?> - <?=$val->material?></h5>
                        <p style="font-size: 9pt;margin-top: -10px">Publicado: <?=date("d/m/Y", strtotime($val->data))?></p>
                        <?php if(!is_null($val->coletor_id)){ $user = User::find_by_id($val->coletor_id)?>
                        <p class="text-dark">O coletor <b><?=$user->nome?></b> mostrou-se interessado!
                            <br>Se ele(a) já coletou este produto(s) <a href="<?=SITE?>descarte/finalizar/<?=$val->id?>">Clique aqui</a> para finalizar o descarte ou entre em contato.
                            <br><b>Nome:</b> <?=$user->nome?>
                            <br><b>Telefone:</b> <?=$user->contato->telefone?>
                            <br><b>Email:</b> <?=$user->contato->email?>
                        </p>
                        <?php } ?>
                        <p><?=$val->descricao?></p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <?php if(is_null($val->coletor_id)){ ?>
                            <a href="<?=SITE?>descarte/alterar/<?=$val->id?>" type="button" class="btn btn-primary">Editar</a>
                            <?php } ?>
                            <?php if($val->status == 1 && is_null($val->coletor_id)){ ?>
                                <a href="<?=SITE?>descarte/delete/<?=$val->id?>" type="button" class="btn btn-danger">Cancelar</a>
                            <?php }elseif ($val->status == 2 && is_null($val->coletor_id)){ ?>
                                <a href="<?=SITE?>descarte/ativar/<?=$val->id?>" type="button" class="btn btn-success">Ativar</a>
                            <?php } ?>
                            <?php if(!is_null($val->coletor_id)){ ?>
                                <a href="<?=SITE?>descarte/finalizar/<?=$val->id?>" type="button" class="btn btn-success">Finalizar</a>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
    <?php }else{ ?>
        <h3>Produtos para coletar!</h3>
        <h4><a href="<?=SITE?>descarte/criar">Clique aqui</a> para cadastrar um novo descarte.</h4>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Descartes
            </a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                Meus descartes
            </button>
        </p>
        <div class="collapse show" id="collapseExample">
            <div class="card card-body">
                <?php if(isset($data['descartei']) && !empty($data['descartei'])){  foreach ($data['descartei'] as $val){  ?>
                    <div class="row" style="margin-top: 10px">
                        <div class="media col-md-12 shadow  <?php if($val->status == 1){ echo 'bg-light';}elseif($val->status == 2){ echo 'bg-danger';}else{} ?>">
                            <img src="<?=IMG.$val->img?>" class="mr-3 rounded float-left" style="max-width: 75px; padding: 5px;" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0"><?=$val->categoria->nome?> - <?=$val->material?></h5>
                                <p style="font-size: 9pt;margin-top: -10px">Publicado: <?=date("d/m/Y", strtotime($val->data))?></p>
                                <p><?=$val->descricao?></p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="<?=SITE?>coletor/atender/<?=$val->id?>" type="button" class="btn btn-success">Atender</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } } ?>
                <?php if(isset($data['descartess']) && !empty($data['descartess'])){  foreach ($data['descartess'] as $val){  ?>
                    <div class="row" style="margin-top: 10px;margin-left: 50px">
                        <div class="media col-md-12 shadow  <?php if($val->status == 1){ echo 'bg-light';}elseif($val->status == 2){ echo 'bg-danger';} ?>">
                            <img src="<?=IMG.$val->img?>" class="mr-3 rounded float-left" style="max-width: 75px; padding: 5px;" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0"><?=$val->categoria->nome?> - <?=$val->material?></h5>
                                <p style="font-size: 9pt;margin-top: -10px">Publicado: <?=date("d/m/Y", strtotime($val->data))?></p>
                                <p><?=$val->descricao?></p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="<?=SITE?>coletor/atender/<?=$val->id?>" type="button" class="btn btn-success">Atender</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } } ?>
            </div>
        </div>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
                <?php  foreach ($data['meusdescartes'] as $val){  ?>
                    <div class="row" style="margin-top: 10px">
                        <div class="media col-md-12 shadow  <?php if($val->status == 1){ echo 'bg-info';}elseif($val->status == 2){ echo 'bg-danger';}else{} ?>">
                            <img src="<?=IMG.$val->img?>" class="mr-3 rounded float-left" style="max-width: 75px; padding: 5px;" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0"><?=$val->categoria->nome?> - <?=$val->material?></h5>
                                <p style="font-size: 9pt;margin-top: -10px"><?=$val->data?></p>
                                <p><?=$val->descricao?></p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="<?=SITE?>descarte/alterar/<?=$val->id?>" type="button" class="btn btn-primary">Editar</a>
                                    <?php if($val->status == 1){ ?>
                                        <a href="<?=SITE?>descarte/delete/<?=$val->id?>" type="button" class="btn btn-danger">Cancelar</a>
                                    <?php }elseif ($val->status == 2){ ?>
                                        <a href="<?=SITE?>descarte/ativar/<?=$val->id?>" type="button" class="btn btn-success">Ativar</a>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    <?php } ?>
</div>

