<script type="text/javascript">
    $(document).ready(function() {
        $('.date').mask('00/00/0000');
        $('.time').mask('00:00:00');
        $('.date_time').mask('00/00/0000 00:00:00');
        $('.cep').mask('00000-000');
        $('.phone').mask('(00) 00000-0000');
        $('.phone_with_ddd').mask('(00) 0000-0000');
        $('.phone_us').mask('(000) 000-0000');
        $('.mixed').mask('AAA 000-S0S');
        $('.cpf').mask('000.000.000-00', {reverse: true});
        $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
        $('.cpf').focus();
    });
</script>
<section class="stats py-lg-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="fa fa-briefcase"></span>
                    <h3 class="timer count-title count-number"><?=count(User::all(array('conditions'=>array('role = "coletor"'))))?></h3>
                    <p class="count-text">Coletores</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="fa fa-user"></span>
                    <h3 class="timer count-title count-number"><?=count(Descarte::all())?></h3>
                    <p class="count-text">Descartes de produtos</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="fa fa-smile-o"></span>
                    <h3 class="timer count-title count-number"><?=count(Descarte::all(array('conditions'=>array('status = "3"'))))?></h3>
                    <p class="count-text">Descartes concluidos</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="fa fa-users"></span>
                    <h3 class="timer count-title count-number"><?=count(User::all(array('conditions'=>array('role = "descartante"'))))?></h3>
                    <p class="count-text">Pessoas já descataram algo</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
<section id="maps" class="descarte gray-bg page-section-ptb">
    <div class="container-fluid">
        <div class="row" style="padding: 0px">
            <style type="text/css">
                #map_canvas { height: 100% }
            </style>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKzCzKX6g4Q3-9z4Mie9ZE_lavx8HHoAQ">
            </script>
            <script type="text/javascript">
                function initialize() {
                    var mapOptions = {
                        center: new google.maps.LatLng(-10.1832994, -48.3372365),
                        zoom: 7,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("map_canvas"),
                        mapOptions);
                var locations = [
                    <?php foreach(User::all(array('conditions'=>array('role = "coletor"'))) as $val){ ?>
                        ['<?=$val->nome?>', <?=$val->enderecos[0]->lat?>, <?=$val->enderecos[0]->lng?>],
                    <?php } ?>
                ];

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        title: locations[i][0],
                        map: map
                    });
                }

                }
            </script>
            <body onload="initialize()">
                <div id="map_canvas" style="width:100%; height: 600px"></div>
            </body>


        </div>
    </div>
</section>
<br><br>
<section id="descarte" class="descarte gray-bg page-section-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="contact-3-info page-section-ptb">
                    <div class="clearfix">
                        <div class="section-title mb-0">
                            <h6>Tem algo que não utiliza masi? que tal</h6>
                            <h2 class="title-effect">Descartar</h2>
                        </div>
                        <p class="mb-50">Temos diversos coletores interessados nas seguinte categorias, entretanto se seu produto não estiver entra as categoria infelizmente não temos coletores para seu produto. Volte outro dia!</p>
                        <form role="form" method="post" action="<?=SITE?>descarte/pcadastro">
                            <div class="contact-form clearfix">
                                <div class="section-field">
                                    <label for="exampleFormControlSelect2">Escolha uma categoria</label>
                                    <select multiple class="form-control" name="categoria" required>
                                        <?php foreach($data['categoria'] as $val){ ?>
                                        <option value="<?=$val->id?>"><?=$val->nome?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                                <div class="section-field">
                                    <label>Digite seu nome</label>
                                    <input id="name" type="text" placeholder="Name*" required class="form-control"  name="nome">
                                </div>
                                <div class="section-field">
                                    <label>Digite seu E-mail</label>
                                    <input type="email" placeholder="Email*" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required class="form-control" name="email">
                                </div>
                                <div class="section-field">
                                    <label>Digite seu Telefone</label>
                                    <input id="telefone" type="tel" maxlength="15" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" pattern="[0-9]+$" required placeholder="Telefone*" class="form-control phone" name="telefone">
                                </div>
                                <!-- Google reCaptch-->
                                <!-- <div class="g-recaptcha section-field clearfix" data-sitekey="[Add your site key]"></div> -->
                                <!--<input type="hidden" name="action" value="sendEmail"/>-->
                                <div class="section-field">
                                    <button name="submit" type="submit" value="Send" class="btn btn-primary"><span> Enviar </span> <i class="fa fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </form>
                        <script type="text/javascript">
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>