<br> <br>
<script type="text/javascript">
    $(document).ready(function() {
        $('.date').mask('00/00/0000');
        $('.time').mask('00:00:00');
        $('.date_time').mask('00/00/0000 00:00:00');
        $('.cep').mask('00000-000');
        $('.phone').mask('(00) 00000-0000');
        $('.phone_with_ddd').mask('(00) 0000-0000');
        $('.phone_us').mask('(000) 000-0000');
        $('.mixed').mask('AAA 000-S0S');
        $('.cpf').mask('000.000.000-00', {reverse: true});
        $('.cnpj').mask('00.000.000/0000-00', {reverse: true});
    });
</script>
<section id="descarte" class="descarte gray-bg page-section-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="panel panel-primary animated flipInY">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">     
                           ACESSO ADMINISTRATIVO
                        </h3>      
                    </div>
                    <div class="panel-body">
                       <p> Informe suas credenciais para acessar o administrativo.</p>
                        <form method="post" class="form-horizontal" action="<?=SITE;?>login/logar/" role="form">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" required="required" class="form-control cpf" id="cpf" name="cpf" placeholder="Seu CPF">
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="col-md-12">
                                    <input type="text" required="required" class="form-control date" id="data_nascimento" name="data_nascimento" placeholder="Dada de nascimento">
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="col-md-12">
                               		<button type="submit" class="btn btn-primary btn-block">Entrar</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 pull-right">
                                    <a href="<?=SITE.'esqueci-a-senha/';?>" class="btn btn-default btn-block">Esqueceu a senha?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
